@page "/application/create"

@inject NavigationManager navigationManager
@inject Services.ApplicationService applicationService

<h3>
	Create
</h3>

<FormEditor Model="Model" OnValidSubmit="Submit" />

<hr />

@CreatedModel?.Id
@CreatedModel?.InsertDateTime
@CreatedModel?.UpdateDateTime

@code
{
	public Models.Application CreatedModel { get; set; }
	public ViewModels.Applications.CreateViewModel Model { get; set; }

	protected override void OnInitialized()
	{
		Model =
			new ViewModels.Applications.CreateViewModel();
	}

	private async Task Submit()
	{
		CreatedModel =
			await
			applicationService.PostAsync
			(Model);

		navigationManager.NavigateTo(uri: "/applications/index", forceLoad: false);
	}
}
