<input type="text" @bind="Dollars" />
<button type="button" @onclick="Convert">Convert</button>

@if (rials > 0)
{
	@(rials.ToString("#,##0"))
	<text>Rials</text>
}

@code {

	private long rials;

	[Parameter]
	public int Rate { get; set; } = 300000;

	[Parameter]
	public long Dollars { get; set; } = 1000;

	[Parameter]
	public EventCallback<long> OnRialsChanged { get; set; }

	private void Convert()
	{
		rials =
			Dollars * Rate;

		OnRialsChanged.InvokeAsync(rials);
	}

}
