<button type="button" class="btn btn-primary" @onclick="() => ButtonClicked()">@(Caption)</button>

@code {

	[Parameter]
	public string Caption { get; set; } = "Caption Not Set!";

	[Parameter]
	public EventCallback OnClick { get; set; }

	private void ButtonClicked()
	{
		OnClick.InvokeAsync(null);
	}

}
