@page "/"
@using Models

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

Id: @message

<button type="button" @onclick="Clicked">Click Me!</button>

@code
{
	string message;

	Application application = new Application();

	private void Clicked()
	{
		message = application.Id.ToString();
	}
}
