@page "/learning/index"

<a href="/learning/learn_1000">Learn 1000</a>
<br />
<a href="/learning/learn_1100">Learn 1100</a>
<br />
<a href="/learning/learn_1200">Learn 1200</a>
<br />
<a href="/learning/learn_1300">Learn 1300</a>
<br />
<a href="/learning/learn_1350">Learn 1350</a>
<br />
<a href="/learning/learn_1400">Learn 1400</a>
<br />
<a href="/learning/learn_1500">Learn 1500</a>
<br />
<a href="/learning/learn_1600">Learn 1600</a>
<br />
<a href="/learning/learn_1700">Learn 1700</a>
<br />
<a href="/learning/learn_1750">Learn 1750</a>
<br />
<a href="/learning/learn_1800">Learn 1800</a>
<br />
<a href="/learning/learn_1900">Learn 1900</a>
<br />
<a href="/learning/learn_2000">Learn 2000</a>
-
<a href="/learning/todos">TODO List</a>
<br />
<a href="/learning/learn_2100">Learn 2100</a>
-
<a href="/learning/basket">Basket</a>
<br />
<a href="/learning/learn_2200">Learn 2200</a>
<br />
<a href="/learning/learn_2300">Learn 2300</a>
<br />
<a href="/learning/learn_2400">Learn 2400</a>
<br />
<a href="/learning/learn_2500">Learn 2500</a>
<br />
<a href="/learning/learn_2525">Learn 2525</a>
<br />
<a href="/learning/learn_2550">Learn 2550</a>
<br />
<a href="/learning/learn_2600">Learn 2600</a>
<br />
<a href="/learning/learn_2700">Learn 2700</a>
<br />
<a href="/learning/learn_2800">Learn 2800</a>
<br />
<a href="/learning/learn_2900">Learn 2900</a>
<br />
<a href="/learning/learn_2950">Learn 2950</a>
<br />
<a href="/learning/learn_2975">Learn 2975</a>
<br />
<a href="/learning/learn_3000">Learn 3000</a>
<br />
<a href="/learning/learn_3100">Learn 3100</a>
<br />

@code {

}
