@page "/learning/learn_1700"

<h3>
	@(message)
</h3>

<h3>
	<input type="text" class="form-control" @bind="message" @bind:event="oninput" />
</h3>

<h3>
	<input type="text" class="form-control" @bind="message" @bind:event="oninput" />
</h3>

<h3>
	<button class="btn btn-primary" @onclick="DoSomething">Do Something!</button>
	@*<button class="btn btn-primary" @onclick="DoSomething()">Do Something!</button>*@

	<button type="submit" class="btn btn-primary" @onclick="DoSomething">Do Something!</button>
	<button type="button" class="btn btn-primary" @onclick="DoSomething">Do Something!</button>

	<button type="button" class="btn btn-primary" @onclick="() => DoSomething()">Do Something!</button>
</h3>

@code {

	private string message = "Hello, World!";

	private void DoSomething()
	{
		message = "Hello, World!";
	}

}
