@page "/learning/learn_1200"

<h3>
	@(message1)
</h3>

@code {

	private string message1 = "Hello, World (1)!";

}

<h3>
	@(message2)
</h3>

@code {

	private string message2 = "Hello, World (2)!";
	//private string message1 = "Hello, World (1)!"; // Error!

}
